@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
     :root {
        --background: 0 0% 13%;
        --foreground: 0 5% 96%;
        --card: 0 2% 24%;
        --card-foreground: 0 5% 96%;
        --popover: 0 0% 100%;
        --popover-foreground: 0 5% 96%;
        --primary: 43 82% 53%;
        --primary-foreground: 0 0% 98%;
        --secondary: 0 0% 96.1%;
        --secondary-foreground: 0 0% 9%;
        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 74%;
        --accent: 0 0% 96.1%;
        --accent-foreground: 0 0% 9%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 34%;
        --input: 0 0% 89.8%;
        --ring: 0 5% 96%;
        --radius: 0.5rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground px-6 py-6;
    }
}

@font-face {
    font-family: "DSDigital";
    src: url("@common/assets/fonts/DS-Digital Bold.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "NotoSans";
    src: url("@common/assets/fonts/NotoSans-Black.ttf") format("truetype");
    font-weight: 900;
}

@font-face {
    font-family: "NotoSans";
    src: url("@common/assets/fonts/NotoSans-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "NotoSans";
    src: url("@common/assets/fonts/NotoSans-ExtraBold.ttf") format("truetype");
    font-weight: 800;
}

@font-face {
    font-family: "NotoSans";
    src: url("@common/assets/fonts/NotoSans-ExtraLight.ttf") format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: "NotoSans";
    src: url("@common/assets/fonts/NotoSans-Light.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "NotoSans";
    src: url("@common/assets/fonts/NotoSans-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "NotoSans";
    src: url("@common/assets/fonts/NotoSans-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "NotoSans";
    src: url("@common/assets/fonts/NotoSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "NotoSans";
    src: url("@common/assets/fonts/NotoSans-Thin.ttf") format("truetype");
    font-weight: 100;
}